.hero-banner {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.hero-banner__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.hero-banner__image .field,
.hero-banner__image .field__item,
.hero-banner__image .media,
.hero-banner__image picture {
  height: 100%;
  display: block;
}
.hero-banner__image .field__item:has(img) {
  background: rgba(0, 0, 0, 0.8784313725);
}
.hero-banner__image img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.hero-banner__body {
  position: relative;
  z-index: 1;
}
.hero-banner__body .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  color: #ffffff;
  font-family: "Geist", sans-serif;
  line-height: 1.4;
}
.hero-banner__body .text-content p {
  margin-block-start: 0rem;
  margin-block-end: 0.5rem;
}
.hero-banner__body .field__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.hero-banner__body h2 {
  text-align: center;
  font-family: "Brightwall", serif;
  font-size: 28px;
  color: #ACDEEC;
  margin: 0 0 1.75rem;
  line-height: 1.2;
}
.hero-banner__body h3,
.hero-banner__body h4 {
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 0.75rem;
  line-height: 1.3;
}
.hero-banner__body p {
  font-family: "Geist", sans-serif;
  text-align: center;
  color: #ffffff;
  margin: 0 0 0.25rem;
  font-size: 14px;
}
.hero-banner__vector {
  position: relative;
  z-index: 1;
  padding: 0.5rem 0;
}
.hero-banner__vector img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  height: auto;
}
.hero-banner__cta {
  position: relative;
  z-index: 1;
  padding: 1rem 0 2rem;
}
.hero-banner__cta a {
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 99px;
  background: #293A80;
  text-decoration: none;
  font-family: "Geist", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.hero-banner__cta a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .hero-banner {
    min-height: 600px;
  }
  .hero-banner__body h2 {
    font-size: 70px;
  }
  .hero-banner__body h3,
  .hero-banner__body h4 {
    font-size: 28px;
  }
  .hero-banner__body p {
    font-size: 16px;
  }
  .hero-banner__cta a {
    padding: 12px 24px;
    font-size: 16px;
  }
}
