@use '../abstracts/variables' as *;

.hero-banner-block {
  .field--name-field-media-image {
    position: absolute;
    left: 0;
    z-index: -1;

    .field__item {
      background: #000000e0;

      img {
        opacity: 0.5;
      }
    }
  }

  .field--name-body {
    .field__item {
      position: relative;
      top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
      gap: 1rem;
    }

    h2 {
      text-align: center;
      font-family: $font-secondary;
      font-size: 20px;
      color: #ACDEEC;
      margin: 0;
    }

    h4 {
      font-family: $font-primary;
      font-weight: 600;
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
      color: $text-light;
      margin: 0;
    }

    p {
      font-family: $font-primary;
      text-align: center;
      color: $text-light;
      margin: 0;
    }
  }

  .field--name-field-cta-button-link {
    display: flex;
    justify-content: center;
    position: relative;
    top: -21px;

    a {
      display: block;
      color: white;
    }
  }

  @media (min-width: 768px) {
    .field--name-body {
      .field__item {
        position: relative;
        left: 7rem;
        top: 10rem;
      }

      h2 {
        font-size: 70px;
        color: #ACDEEC;
      }

      h4 {
        font-size: 28px;
      }
    }

    .field--name-field-cta-button-link {
      top: 11rem;
      left: 7rem;

      .field__item {
        a {
          display: block;
          color: white;
          padding-top: 12px;
          padding-right: 20px;
          padding-bottom: 12px;
          padding-left: 20px;
          border-radius: 99px;
          border-width: 1px;
          background: #293A80;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}