// Load Geist and Manrope from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;600;700&family=Manrope:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Brightwall';
  src: url('../fonts/BrightwallPersonalUseOnly-Reg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


