@use '../abstracts/variables' as *;

.container {
  width: 100%;
  max-width: 820px; /* based on your Figma spacing */
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px; /* small inner padding for mobile */
  padding-right: 16px;
}

body {
  background: $bg-white;
}
