// scss/mixins.scss
@use '../abstracts/variables' as *;

@mixin primary-button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 99px;
  background-color: $cyan-400;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-color: $blue-100;
  }
}

@mixin secondary-button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 99px;
  background-color: $cyan-400;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid white;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-color: $blue-100;
  }
}
