@use '../abstracts/variables' as *;

h1 {
  font-size: 70px;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  font-size: 54px;
  font-weight: 400;
  line-height: 120%;
}

h3 {
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
}

h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
}

h5 {
  font-size: 28px;
  font-weight: 400;
  line-height: 120%;
}

h6 {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

p {
  font-size: 18px;
  line-height: 120%;
}

p.small {
  font-size: 14px;
  line-height: 120%;
}

p.vsmall {
  font-size: 12px;
  line-height: 120%;
}

body {
  font-family: $font-primary;
}

a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #FF2370;
}
