@use '../abstracts/variables' as *;

footer {
  background: $cyan-500;
  color: $text-light;
  padding: 3rem 1rem 1rem 1rem;
  text-align: center;

  .footer-text {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    font-family: $font-secondary;
  }

  .region--top-footer {

    .block-menu {
      ul.menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 2rem;

        li {
          display: inline-block;

          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }

  .region--bottom-footer {
    border-top: 1px solid;
    padding: 1rem 0 0 0;
    .block-social-media-links {

      h2.block__title {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: inherit;
      }

      ul.platforms {
        display: flex;
        justify-content: center;
        gap: 1.2rem;

        li {
          a {
            color: inherit;
          }
        }
      }
    }
  }
}
